spring:
  application:
    name: flower-website

  profiles:
    active: dev 
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      mail.smtp:
        connection timeout: 5000
        timeout: 10000
        write timeout: 5000
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    properties:
      hibernate:
        default_schema: public
        format_sql: true

server:
  port: ${PORT:8081}


